.category-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Вирівнюємо елементи по вертикалі */
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;

  &:hover {
    transform: scale(1.05);
  }

  .category-image {
    width: 300px;
    height: 250px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
  }

  h3 {
    font-size: 16px;
    font-weight: normal !important;
    margin: 10px 0;
    text-align: center;
    color: #333;
  }

  .price {
    font-size: 14px !important;
    font-weight: bold !important;
    color: #000000; /* Зелений колір для ціни */
    margin-top: 5px;
    text-align: center;
  }

  &:hover .category-image {
    transform: scale(1.1); /* Збільшення картинки при наведенні */
  }
}
