<div class="contact-info">
  <h2>Зв'язок з нами</h2>

  <div class="contact-item">
    <img src="assets/img/icon-envelope.png" alt="Email" class="contact-icon">
    <span>fanat991&#64;ukr.net</span>
  </div>

  <div class="contact-item">
    <img src="assets/img/icon-phone-call.png" alt="Phone" class="contact-icon">
    <span>+38 (095) 821-78-10</span>
  </div>
  <div class="contact-item">
    <img src="assets/img/icon-telegram.png" alt="Telegram" class="contact-icon">
    <span>&#64;Bohdan_porivay</span>
  </div>

  <div class="contact-item">
    <img src="assets/img/icon-instagram.png" alt="Instagram" class="contact-icon">
    <span>&#64;bogdan_poryvai</span>
  </div>


  <div class="contact-item">
    <span>с.Велика Рублівка, Полтавська обл., вул. Лугова 31а <br>  Робочий графік гарячої лінії: Пн-Пт з 8:00 – 17:00</span>

  </div>


</div>
