<div class="shipping-container">
  <h1>Доставка</h1>

  <div class="shipping-image">
    <img src="/assets/img/icon_nova_poshta.svg" alt="Нова Пошта">
  </div>

  <div class="shipping-options">
    <div class="shipping-card">
      <h2>Післяплата</h2>
      <ul>
        <li>Вартість доставки від 70 грн</li>
        <li>Комісія пошти за післяплату 2% + 20 грн від суми замовлення</li>
        <li>Без Передоплати</li>
        <li>Доставка 2-4 дні</li>
      </ul>
    </div>

    <div class="shipping-card">
      <h2>Онлайн оплата</h2>
      <ul>
        <li>Вартість доставки від 65 грн</li>
        <li>Безкоштовна доставка від 2500 грн</li>
        <li>Без комісії пошти</li>
        <li>Доставка 2-4 дні</li>
      </ul>
    </div>
  </div>
</div>
