<nav class="navbar" [class.sticky]="isNavbarSticky">

  <div class="nav-container">
    <div class="burger" (click)="toggleSidebar()">
      <span></span>
      <span></span>
      <span></span>

    </div>

    <a routerLink="/" class="logo">
      <img src="assets/img/logo.png" alt="Bonsim logo" />
    </a>
  </div>

  <div class="navbar-icons">
    <div class="icon search-icon"(click)="toggleSearch()">
      <img src="assets/img/magnifier.png" alt="Magnifying" class="magnifying-glass-icon" />
    </div>


    <div class="icon bag-icon" (click)="toggleCart()">
      <img src="assets/img/bag.png" alt="Bag" class="bag-icon" />
      <span class="bag-badge">{{ cartItemCount }}</span>
      <span class="bag-price">{{ cartTotalPrice | currency:'UAH':'symbol':'1.0' }}</span>
    </div>

  </div>
</nav>
  <div class="search-sidebar-backdrop" *ngIf="isSearchOpen" (click)="toggleSearch()"></div>
  <div class="search-sidebar" [class.open]="isSearchOpen">
    <button class="close-button" (click)="toggleSearch()">&#10005;</button>

    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchText"
        (input)="onSearchInput()"
        placeholder="Пошук товарів"
      />
      <p>Введіть текст товару, який шукаєте</p>
    </div>
  </div>

  <div class="cart-sidebar-backdrop" *ngIf="isCartOpen" (click)="toggleCart()"></div>
  <aside class="cart-sidebar" [class.open]="isCartOpen">
    <div class="cart-sidebar-header">
      <h2>Кошик</h2>
      <button class="close-button" (click)="toggleCart()">×</button>
    </div>

    <div class="cart-sidebar-content">
      <ng-container *ngIf="cartItemCount > 0; else emptyCart">
        <p>Тут товари кошика (пізніше).</p>
      </ng-container>

      <ng-template #emptyCart>
        <div class="empty-cart">
          <p>Ваш кошик порожній.</p>
          <button class="return-to-shop" (click)="goToShop()">Повернутись до магазину</button>
        </div>
      </ng-template>
    </div>
  </aside>




  <div class="sidebar-backdrop" *ngIf="isSidebarOpen" (click)="toggleSidebar()"></div>
  <aside class="sidebar" [class.open]="isSidebarOpen">
    <div *ngIf="userRole === 'Admin'" class="admin-tab-wrapper">
      <button
        [class.active]="activeTab === 'admin'"
        (click)="setTab('admin')"
        class="admin-tab-button">
        Адмін панель
      </button>
    </div>

    <!-- Інші вкладки -->
    <div class="sidebar-tabs">
      <button
        [class.active]="activeTab === 'categories'"
        (click)="setTab('categories')">
        Категорії
      </button>
      <button
        [class.active]="activeTab === 'info'"
        (click)="setTab('info')">
        Інформація
      </button>
    </div>


    <ul class="sidebar-menu">
      <ng-container *ngIf="activeTab === 'categories'">
        <li class="has-submenu">
          <div class="submenu-container ">
            <div
              class="submenu-toggle"
              (click)="goToCategory('чоловічий одяг'); toggleSubmenu('men')">
              Чоловічий одяг
            </div>
            <div class="submenu-arrow-container" (click)="toggleSubmenu('men')">
              <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                   xmlns="http://www.w3.org/2000/svg"
                   [ngClass]="{ 'rotate': isSubmenuOpen('men') }"
                   class="submenu-arrow">
                <path d="M7 10l5 5 5-5" stroke="black" stroke-width="2"
                      fill="none" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>


          <ul *ngIf="activeSubmenu === 'men'" class="submenu">
            <li><a routerLink="/products/men/hoodie" (click)="closeSidebar()">Худі</a></li>
            <li><a routerLink="/products/men/tshirt" (click)="closeSidebar()">Футболки</a></li>
            <li><a routerLink="/products/men/pants" (click)="closeSidebar()">Штани</a></li>
            <li><a routerLink="/products/men/shorts" (click)="closeSidebar()">Шорти</a></li>

          </ul>
        </li>

        <li class="has-submenu">
          <div class="submenu-container">
            <div
              class="submenu-toggle"
              (click)="goToCategory('жіночий одяг'); toggleSubmenu('women')">
              Жіночий одяг
            </div>
            <div class="submenu-arrow-container" (click)="toggleSubmenu('women')">
              <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                   xmlns="http://www.w3.org/2000/svg"
                   [ngClass]="{ 'rotate': isSubmenuOpen('women') }"
                   class="submenu-arrow">
                <path d="M7 10l5 5 5-5" stroke="black" stroke-width="2"
                      fill="none" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>


        <ul *ngIf="isSubmenuOpen('women')" class="submenu">
            <li><a routerLink="/products/women/hoodie "(click)="closeSidebar()" >Худі</a></li>
            <li><a routerLink="/products/women/tshirt"(click)="closeSidebar()">Футболки</a></li>
            <li><a routerLink="/products/women/pants"(click)="closeSidebar()">Штани</a></li>
            <li><a routerLink="/products/women/shorts"(click)="closeSidebar()">Шорти</a></li>
          </ul>
        </li>


        <li><a routerLink="product-category/monthly-event" (click)="closeSidebar()">Тренд місяця</a></li>


      </ng-container>

      <ng-container *ngIf="activeTab === 'info'">
        <li><a routerLink="/" [class.active-link]="isActiveLink('/')" (click)="closeSidebar()">Головна</a></li>

        <li><a routerLink="/size-chart" [class.active-link]="isActiveLink('/size-chart')" (click)="closeSidebar()">Розмірна сітка</a></li>
        <li><a routerLink="/about" [class.active-link]="isActiveLink('/about')" (click)="closeSidebar()">Про нас</a></li>
        <li><a routerLink="/shipping" [class.active-link]="isActiveLink('/shipping')" (click)="closeSidebar()">Доставка і Оплата</a></li>


        <li><a routerLink="/contact" [class.active-link]="isActiveLink('/contact')" (click)="closeSidebar()">Контакти</a></li>

        <li *ngIf="!isAuthenticated">
          <a routerLink="/auth" [class.active-link]="isActiveLink('/auth')" (click)="closeSidebar()">
            <img src="assets/img/login-icon.png" alt="Login" class="sidebar-icon" />
            Увійти
          </a>
        </li>

        <li *ngIf="isAuthenticated">
          <a routerLink="/profile" [class.active-link]="isActiveLink('/profile')" (click)="closeSidebar()">
            <img src="assets/img/login.png" alt="Account" class="sidebar-icon" />
            Мій акаунт
          </a>
        </li>

        <li *ngIf="isAuthenticated">
          <a (click)="logout()">
            <img src="assets/img/login-icon.png" alt="Logout" class="sidebar-icon" />
            Вийти
          </a>
        </li>

      </ng-container>



      <ng-container *ngIf="activeTab === 'admin'">

        <li><a routerLink="/admin/add-product" (click)="closeSidebar()">Додати продукт</a></li>
        <li><a routerLink="/admin/add-category" (click)="closeSidebar()">Додати категорію</a></li>
        <li><a routerLink="/admin/view-orders" (click)="closeSidebar()">Переглянути замовлення</a></li>

        <li><a routerLink="/admin/views-products" (click)="closeSidebar()">Переглянути товари</a></li>
        <li><a routerLink="/admin/view-users" (click)="closeSidebar()">Переглянути клієнтів</a></li>


      </ng-container>



    </ul>
  </aside>
