<div class="add-category-container">
  <div class="selection-container">
    <h2>Вибір категорії для додавання</h2>
    <div class="category-options">
      <button (click)="showCategory('color')">Колір</button>
      <button (click)="showCategory('type')">Вид товару</button>
      <button (click)="showCategory('print')">Принт</button>
      <button (click)="showCategory('monthlyEvent')">Івенти місяця</button>
    </div>

    <div class="category-list">
      <h3 *ngIf="selectedCategory === 'color'">Список наявних кольорів</h3>
      <h3 *ngIf="selectedCategory === 'type'">Список наявних видів товару</h3>
      <h3 *ngIf="selectedCategory === 'print'">Список наявних принтів</h3>
      <h3 *ngIf="selectedCategory === 'monthlyEvent'">Список івентів місяця</h3>

      <ul>
        <li *ngFor="let item of selectedItems" class="category-item">
          <span *ngIf="isColor(item)">{{ item.colorName }}</span>

          <!-- Вид товару -->
          <div *ngIf="isProductType(item)" class="product-type-details">
            <strong>{{ item.productTypeName }}</strong>
            <div *ngIf="item.gender">
              <strong>Гендер:</strong>
              <ul>
                <li *ngFor="let line of splitBySemicolon(item.gender)">{{ line }}</li>
              </ul>
            </div>
            <div *ngIf="item.material">
              <strong>Матеріал:</strong>
              <ul>
                <li *ngFor="let line of splitBySemicolon(item.material)">{{ line }}</li>
              </ul>
            </div>
            <div *ngIf="item.fitDetails">
              <strong>Деталі та крій:</strong>
              <ul>
                <li *ngFor="let line of splitBySemicolon(item.fitDetails)">{{ line }}</li>
              </ul>
            </div>
            <div *ngIf="item.care">
              <strong>Догляд:</strong>
              <ul>
                <li *ngFor="let line of splitBySemicolon(item.care)">{{ line }}</li>
              </ul>
            </div>
            <div *ngIf="item.modelInfo">
              <strong>Модель на фото:</strong>
              <ul>
                <li *ngFor="let line of splitBySemicolon(item.modelInfo)">{{ line }}</li>
              </ul>
            </div>
          </div>

          <span *ngIf="isPrint(item)">{{ item.printName }}</span>

          <div *ngIf="isMonthlyEvent(item)">
            <strong>{{ item.name }}</strong><br/>
            <small>Початок: {{ item.creationDate | date:'dd.MM.yyyy' }}</small><br/>
            <small>Кінець: {{ item.endDate | date:'dd.MM.yyyy' }}</small>
          </div>

          <button (click)="openDeleteModal(item.id)" class="delete-button">Видалити</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="form-container">
    <h2>Додати новий елемент</h2>

    <div *ngIf="selectedCategory === 'color'">
      <label for="newColor">Новий колір</label>
      <input type="text" id="newColor" [(ngModel)]="newItem" placeholder="Введіть колір" />
      <button (click)="openConfirmDialog('color')">Додати колір</button>
    </div>

    <div *ngIf="selectedCategory === 'type'" class="product-type-form">
      <label for="newType">Назва виду товару</label>
      <input type="text" id="newType" [(ngModel)]="newProductType.productTypeName" placeholder="Введіть назву виду товару" />
      <label for="gender">Гендер</label>
      <select id="gender" [(ngModel)]="newProductType.gender">
        <option value="Men">Чоловічий</option>
        <option value="Women">Жіночий</option>
        <option value="Unisex">Унісекс</option>
      </select>

      <label>Матеріал</label>
      <textarea [(ngModel)]="newProductType.material" placeholder="– Льон преміум якості&#10;– 70% льон, 30% поліестер"></textarea>
      <label>Деталі та крій</label>
      <textarea [(ngModel)]="newProductType.fitDetails" placeholder="– Посадка вільна;&#10;– Обстрочений пояс, кармани;&#10;– Шнурки з зовнішньої сторони;"></textarea>
      <label>Сезон / Догляд</label>
      <textarea [(ngModel)]="newProductType.care" placeholder="– прання при температурі до 30°C;&#10;– відбілювання заборонено;&#10;– сушити в підвішеному стані;"></textarea>
      <label>Інформація про модель</label>
      <textarea [(ngModel)]="newProductType.modelInfo" placeholder="Чоловік&#10;– зріст моделі – 180 см;&#10;– розмір на моделі – “L”."></textarea>
      <button (click)="openConfirmDialog('type')">Додати вид товару</button>
    </div>

    <div *ngIf="selectedCategory === 'print'">
      <label for="newPrint">Новий принт</label>
      <input type="text" id="newPrint" [(ngModel)]="newItem" placeholder="Введіть принт" />
      <button (click)="openConfirmDialog('print')">Додати принт</button>
    </div>

    <div *ngIf="selectedCategory === 'monthlyEvent'">
      <label for="newEventName">Назва івенту</label>
      <input type="text" id="newEventName" [(ngModel)]="newMonthlyEvent.name" placeholder="Введіть назву івенту" />

      <label for="startDate">Дата початку</label>
      <input type="date" id="startDate" [(ngModel)]="newMonthlyEvent.creationDate" />

      <label for="endDate">Дата кінця</label>
      <input type="date" id="endDate" [(ngModel)]="newMonthlyEvent.endDate" />

      <button (click)="openConfirmDialog('monthlyEvent')">Додати івент місяця</button>
    </div>
  </div>
</div>

<app-confirm-delete-modal
  [isVisible]="isDeleteModalVisible"
  (confirm)="onDeleteConfirmed()"
  (cancel)="onDeleteCancelled()">
</app-confirm-delete-modal>
