<div class="add-product-container">
  <h2>Додати товар</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit(fileInput)">
    <div class="form-group">
      <label for="type">Вид товару</label>
      <select id="type" formControlName="type">
        <option value="" disabled selected>Оберіть тип</option>
        <option *ngFor="let type of productTypes" [ngValue]="type">{{ type.productTypeName }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="print">Принт</label>
      <select id="print" formControlName="print">
        <option value="" disabled selected>Оберіть принт</option>
        <option *ngFor="let print of prints" [ngValue]="print">{{ print.printName }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="color">Колір</label>
      <select id="color" formControlName="color">
        <option value="" disabled selected>Оберіть колір</option>
        <option *ngFor="let color of colors" [ngValue]="color">{{ color.colorName }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="gender">Гендер</label>
      <select id="gender" formControlName="gender">
        <option value="" disabled selected>Оберіть гендер</option>
        <option *ngFor="let gender of filteredGenders" [value]="gender">{{ gender }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="monthlyEvent">Місячний івент (необов’язково)</label>
      <select id="monthlyEvent" formControlName="monthlyEvent">
        <option [ngValue]="null">Без івенту</option>
        <option *ngFor="let event of monthlyEvents" [ngValue]="event">{{ event.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="price">Ціна (грн)</label>
      <input id="price" type="number" formControlName="price" min="0.01" step="0.01" />
    </div>

    <div class="form-group">
      <label for="images">Фото (до 5)</label>
      <input id="images" #fileInput type="file" (change)="onFileChange($event)" multiple />
      <div class="preview-container">
        <img *ngFor="let img of imagesPreview" [src]="img" alt="Прев’ю" />
      </div>

      <div class="error" *ngIf="imageError">{{ imageError }}</div>
    </div>

    <button type="submit">Додати товар</button>
  </form>
</div>
