
.checkout-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 50px auto;
}

.checkout-form {
  width: 65%;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}
.phone-input-group {
  display: flex;
  gap: 8px;

  select,
  input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  select {
    width: 100px;
    background-color: #f5f5f5;
    color: #888;
    cursor: default;
    pointer-events: none; // блокує взаємодію, якщо справді не активний
  }

  input {
    flex: 1;
  }
}

.order-list {
  width: 30%;
  position: sticky;
  top: 150px;
  height: fit-content;
  max-height: 100vh;
  overflow-y: auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 10px;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 5px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

label.required::after {
  content: " *";
  color: red;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: calc(6 * 80px); /* максимум 5 елементів по 80px */
  overflow-y: auto;
}


li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #f0f0f0;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ,transform 0.3s ease;

}


button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  transform: scale(1.05);
}

section {
  margin-bottom: 30px;
}

.centered {
  text-align: center;
}

.order-list ul {
  margin-bottom: 20px;
}

.order-list p {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 20px;
}
.order-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;

  .product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  .item-info {
    flex: 1;

    div {
      margin-bottom: 5px;
    }

    .remove-button {
      background-color: #e74c3c;
      border: none;
      color: white;
      padding: 5px 10px;
      font-size: 0.9rem;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}
input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
}
