.notification {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 300px;
  max-width: 600px;
  padding: 16px 24px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  z-index: 9999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.3s ease-out forwards;
  gap: 12px;

  &.success {
    background-color: #4caf50;
  }

  &.error {
    background-color: #f44336;
  }
  &.info{
    background-color: #4caf50;
  }

  .notification-content {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;
  }

  .icon {
    display: flex;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .message {
    font-size: 16px;
  }

  .close-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    line-height: 1;
    padding: 0;
  }
}

@keyframes slideDown {
  to {
    top: 20px;
  }
}
